* {
  margin: auto;
}
.App {
  text-align: center;
}

.container {
  display: flex;
}

span {
  font-size: 30px;
}

.items {
  background-color: antiquewhite;
  margin: auto;
  display: flex;
  width: 500px;
  flex-direction: column;
}

button {
  width: 100px;
  height: 30px;
  margin: auto;
  margin-top: 10px;
  margin-left: 2em;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.head {
  margin-top: 2em;
}

.total {
  margin-top: 2em;
}
